<div class="row">
  {{add-post-form}}
</div>
{{#posts-list posts=model as |post|}}
  <div class="row justify-content-md-center mt-2">
    <div class="col-md-6">
      {{post-card post=post}}
    </div>
  </div>
{{/posts-list}}
